<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="onLogout()">
      <ion-icon style="color:white" name="log-out"></ion-icon>
    </ion-button>
    <ion-title>{{users.usuario}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<h2>Conversaciones</h2>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat,users)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.imagen"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><b>{{chat.nombre}}</b></h2>
        <h3>{{chat.descripcion}}</h3>
        <p>{{chat.ultima_conexion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
    <ion-item>
      <ion-button (click)="openContacts(users)">
        Nueva Conversación
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-footer>