<ion-header>
    <ion-toolbar color="dark">
        <ion-button slot="start" fill="clear" (click)="return()">
            <ion-icon style="color:white" name="arrow-round-back"></ion-icon>
          </ion-button>
      <ion-title text-center>
        Administrador  
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <img class="icon" src="assets/icon/user.svg" alt="">
      <form class="form-signin" #crearForm="ngForm" (ngSubmit)="iniciarSesion(crearForm)" >
        <ion-item>
      <ion-label position="floating"> Usuario </ion-label>
      <ion-input [(ngModel)]="user" type="text" name="user" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Contraseña </ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" expand="block">Entrar</ion-button>
  </form>
  </ion-content>
  
  
  